<mat-toolbar class="nav_bar" color="primary">
  <img src="this_assets/icon/cowings-logo-white-min.png">

  <ng-container *ngFor="let item of appService.sys_list">
    <button mat-button [class.action]="selecteditem===item.name"
      (click)="change_action_item(item)">{{item.name}}</button>
  </ng-container>
  <span class="th-separator"></span>
  <button mat-button>{{Copyright}} V{{Version}}</button>
</mat-toolbar>

<ng-container *ngIf="appService.selectedurl==='public_presentation'">

  <mat-sidenav-container class="sidenav-container th-height-full">
    <mat-sidenav #snav class="th-sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" [opened]="true" disableClose>
      <div class="sidenav-content th-height-full">
        <div class="side-title th-d-flex th-flex-align-items-center th-flex-just-content-center">
          <p class=th-text-center>
            {{selecteditem}} <br> {{selecteditemtiem}}
          </p>
        </div>
        <div class="side-content th-overflow-y-auto th-hide-scroll">
          <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let item of sidelist" [selected]="(item.areaid_name===selecteditemtiem)?true:false"
              (click)="change_action_item2(item)">
              {{item.area_name}}({{item.area_id}})
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="th-hide-scroll" [style.z-index]="3">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</ng-container>

<!-- <th-resolution-mask class="th-p-fixed" [style.z-index]="99999"></th-resolution-mask> -->